@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

body {
  --mdc-theme-primary: #00897b;
  --mdc-theme-primary-light: #4ebaaa;
  --mdc-theme-primary-dark: #005b4f;
  --mdc-theme-secondary: #546e7a;
  --mdc-theme-secondary-light: #819ca9;
  --mdc-theme-secondary-dark: #29434e;
  --mdc-theme-on-secondary: #ffffff;
  margin: 0px;
}

.mdc-top-app-bar__title {
  color: initial;
}

.mdc-slider__thumb-container {
  height: initial !important;
}

.mdc-slider__thumb {
  fill: var(--mdc-theme-secondary-dark) !important;
  stroke: var(--mdc-theme-secondary-dark) !important;
}
